.ASVSItem-wrap {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid lightgrey;
    padding: 10px 0px 10px 0px ;
}

.ASVSItem-spec {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ASVSItem-spec__metadata {
    color: gray;
}

p {
    padding: 3px;
}

.ASVSItem-spec__body p{
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 1.6;
}
